
<div class="container">
  <h1 style="color: #003cb3"> Your Tasks </h1>
  <ul>


    <li *ngFor="let task of newTask;let index = index" style="border: double ; border-color: #005fb3">
      <div><h3><b>TASK</b></h3></div>
      <div >
        <mark><b>Id</b>=</mark>{{task._id}}
        <mark><b>Title</b>=</mark>{{task.title}}
        <mark><b>Description</b>=</mark>{{task.description}}
        <mark><b>Date</b>=</mark>{{task.date}}
        <mark><b>Priority</b>=</mark>{{task.priority}}
      </div>
      <div >
        <input type="button" class="btn-success" value="Edit" (click)="editTask(index)" style="margin-left: 1em">
        <input type="button" class="btn-success" value="Done" (click)="deleteByIndex(index)" style="margin-left: 1em">
      </div>
    </li>
  </ul>


</div>

