<nav class="navbar" style="background-color: indigo;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Angular2 Routing</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" style="color: white"><b>Home</b></a></li>
                <li><a routerLink="/CreateTask" style="color: white"><b>Create Tasks</b></a></li>
                <li><a routerLink="/ShowTask" style="color: white"><b>Show Tasks</b></a></li>
            </ul>

        </div>
    </div>
</nav>
<h1 style="color:brown"><b>TODO TASK SCHEDULER</b></h1><br><br>
<p> To Create Tasks go to the <mark>Create Task </mark> tab.</p>
<br>
<br>
<p> To See the List Of Your Tasks go to the <mark>Show Tasks</mark> tab.</p>
<router-outlet></router-outlet>
